<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photo Selection</title>
  <style>
    .grid-container {
      display: grid;
      grid-template-columns: repeat(6, auto);
      /* Create 6 columns */
      gap: 10px;
    }

    .grid-item {
      cursor: pointer;
      border: 4px solid transparent;
      /* Default border is transparent */
    }

    .grid-item.selected {
      border-color: orange;
      /* Selected border color is orange */
      border-width: 8px;
      /* Make the border thick */
    }
  </style>
  <script>
    function togglePhotoSelection(photoId) {
      const photoElement = document.getElementById(photoId);

      // Toggle 'selected' class on clicked photo
      photoElement.classList.toggle('selected');

      // Update the hidden input field values
      const selectedPhotosInput = document.getElementById('selectedPhotos');
      let selectedPhotos = selectedPhotosInput.value ? selectedPhotosInput.value.split(',') : [];

      if (photoElement.classList.contains('selected')) {
        selectedPhotos.push(photoId);
      } else {
        selectedPhotos = selectedPhotos.filter(photo => photo !== photoId);
      }

      selectedPhotosInput.value = selectedPhotos.join(',');
    }
  </script>
</head>

<body>
  <h1>Select Photos</h1>
  <!-- Form to change the image directory -->
  <form method="POST" action="/">
    <label for="image_directory">Change Image Directory:</label>
    <input type="text" id="image_directory" name="image_directory" placeholder="Enter new directory">
    <button type="submit" name="change_dir">Change Directory</button>
  </form>

  <!-- Current Image Directory -->
  <h2>Current Directory: {{ current_directory }}</h2>

  <!-- Form to select photos -->
  <form method="POST">
  <label for="task">Enter task:</label>
  <input type="text" id="task" name="task" required>

  <!-- Submit button -->
  <button type="submit">Submit</button>
  <br>

  <!-- Download button -->
  <br>
  <a href="{{ url_for('download_csv') }}" class="button">Download CSV</a>
  <br>

  <!-- Image grid -->
  <div class="grid-container">
    {% for image in images %}
    <img id="{{ image }}" src="{{ url_for('static', filename=current_directory + '/' + image) }}" class="grid-item"
      onclick="togglePhotoSelection('{{ image }}')" width="224" height="224">
    {% endfor %}
  </div>

  <!-- Hidden input to store selected photos -->
  <input type="hidden" name="images" id="selectedPhotos">

  </form>
  </body>

  </html>
